main{
    padding-top: 100px;
}
.section{
    width: 100%;
    /* text-align: center; */
    justify-content: space-around;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
    
}
section h4{
    font-size: 25px;
}
.search-label input{
    width: 50%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px ;
    padding: 10px;
}
.repost-to-the-site{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.repost-to-the-site{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}
.repost-to-the-site:hover{
    color: orange;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease; 
}
.repost-to-the-site1{
    color: orange;
    font-size: 20px;
}    

.images-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: 1fr;
    margin: 30px;

}
.image{
    width: 300px;
    height: 350px;
    padding: 10px;
    border: 1px solid gray;
}
.image:hover{
    border-radius: 30px;
    background-color: wheat;
    flex-grow:1;
    scale: .8;
    transition: all .8s ease-in-out;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.card-container{
    padding: 16px;
}
.card-container h3{
    font-size: 30px;
    margin: 10px;
}
.card-container p{
    font-size: 20px;
}
.card{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}